*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size:inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: #000;
	font-family: 'Roboto', sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container {
	max-width: 1100px;
	margin: 0px auto;
	padding: 0px 20px;
	box-sizing: content-box;
}

._ibg {
	position: relative;
}
._ibg img {
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* --------Header-------------------- */
.header {
	min-height: 88px;
}

.header__content {
	display:flex;
	justify-content: flex-end;
	align-items: center;
	margin: 16px 0px 0px 0px;
}

.menu__list {
	display: flex;
	margin: 0px 32px 0px 0px;
	flex-wrap: wrap;
}

.menu__item:not(:last-child) {
	margin: 0px 32px 0px 0px;
}

.menu__link {
	color:#222222;
	line-height: 1;
}

.header__button {
	background-color:#EFAE35;
	border-radius: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 17px 32px 14px 32px;
	color: #24160B;
	font-size: 17px;
	line-height: 1;
}

/* -----------PAGE--------------------------------------- */
.page {
	flex: 1 1 auto;
}
/* --------------MAIN-BLOCK----------------------------------- */
.main-block {
	position: relative;
	margin: 0px 0px 116px 0px;
}

.main-block__content {
	position: relative;
	z-index: 2;
}

.main-block__menu {
	padding: 231px 0px 0px 0px;
}

.main-block__title {
	font-size: 60px;
	line-height: 1.2;
	font-weight: 400;
}

.main-block__subtitle {
	padding: 32px 0px 0px 0px;
	font-size: 17px;
	line-height: 1.7;
	font-weight: 400;
}

.main-block__links {
	padding: 86px 0px 224px 32px;
	font-weight: 400;
	font-size: 17px;
	display:flex;
	flex-direction: column;
}

.main-block__text {
	font-weight: 400;
	font-size: 17px;
	line-height: 1.4;
	color:#24160B;
}

.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/* ------------------INTRODUCING------------------------------- */
.introducing__section {
	display: flex;
}

.introducing__content {
	padding: 143px 0px 0px 72px;
}

.introducing__title {
	font-weight: 400;
	font-size: 60px;
	line-height: 1.2;
	padding: 0px 0px 32px 0px;
}

.introducing__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	padding: 0px 0px 38px 0px;
}

.introducing__links {
	display: inline-flex;
	padding: 0px 0px 0px 72px;
	justify-content: center;
	align-items: center;
}

.introducing__button {
	background: #EFAE35;
	border-radius: 80px;
	display: flex;
	padding: 16px 32px;
	color: #24160B;
}


.introducing__drop {
	padding: 0px 0px 0px 24px;
	font-weight: 400;
	font-size: 17px;
	line-height: 1.4;
	color: #24160B;
	position: relative;
}

.introducing__line {
	border: 2px solid #24160B1F;
	width: 101px;
	margin: 3px 0px 0px 24px;
}

.introducing__image {
	padding: 95px 0px 0px 0px;
}

/* --------------TIME-TOGEHTER-------YOUR-PARTNER--------------------------- */
.time-together__main {
	display: flex;
	margin: 261px 0px 0px 0px;
}

.time-together__inner {
	font-weight: 400;
	color: #24160B;
}

.time-together__title {
	padding: 19px 0px 0px 0px;
	font-size: 44px;
	line-height: 1.3;
}

.time-together__text {
	padding: 25px 0px 0px 0px;
	font-size: 18px;
	line-height: 1.6;
}

.time-together__line {
	border: 2px solid #B16CEA1A;
	margin: 8px 0px 0px 0px;
}

.time-together__section {
	margin: 40px 0px 0px 0px;
}

.time-together__interest {
	font-size: 58px;
	line-height: 0.5;
}

.time-together__drop {
	padding: 26px 0px 0px 0px;
	font-size: 16px;
	line-height: 1.4;
}

.time-togehter__footer {
	font-size: 10px;
	line-height: 3;
}

.time-together__image {
	border-radius: 16px;
	padding: 120px 0px 0px 120px;
}

/* ----------------HEALTHY-HABITS----------ME-TIME-------------------------- */
.healthy-habits__main {
	display:flex;
	margin: 157px 0px 0px 0px;
}

.healthy-habits__inner {
	font-weight: 400;
	color: #24160B;
	padding: 120px 0px 0px 120px;
}

.healthy-habits__title {
	font-size: 44px;
	line-height: 1.3;
}

.healthy-habits__text {
	padding: 25px 0px 0px 0px;
	font-size: 18px;
	line-height: 1.6;
}

.healthy-habits__line {
	border: 2px solid #B16CEA1A;
	margin: 8px 0px 0px 0px;
}

.healthy-habits__section {
	margin: 40px 0px 0px 0px;
}

.healthy-habits__interest {
	font-size: 58px;
	line-height: 0.5;
}

.healthy-habits__drop {
	padding: 26px 0px 0px 0px;
	font-size: 16px;
	line-height: 1.4;
}

.healthy-habits__footer {
	font-size: 10px;
	line-height: 3;
}

.healthy-habits__image {
	border-radius: 16px;
	padding: 225px 0px 0px 0px;
}

/* ----------------FETURED----------------------------------- */
.fetured__content {
	margin: 236px 0px 0px 0px;
}

.fetured__title {
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 43px;
	line-height: 1.3;
	font-weight: 400;
}

.fetured__links {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 79px 0px 0px 0px;
}

.fetured__image:not(:last-child) {
	margin: 0px 80px 0px 0px;
}

.fetured__footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 32px 0px 0px 0px;
}

/* ------------------SEE-ARO-------------------------------- */
.see-aro {
	position: relative;
	margin: 180px 0px 0px 0px;
}


.see-aro__content {
	position: relative;
	z-index: 2;
}

.see-aro__title {
	padding: 231px 0px 0px 0px;
	font-weight: 400;
	font-size: 58px;
	line-height: 1.2;
	color: #FFFFFF;
}

.see-aro__subtitle {
	padding: 35px 0px 424px 0px;
	font-weight: 400;
	font-size: 17px;
	line-height: 2.3;
	color: #FFFFFF;
}

.see-aro__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* --------------ARO-EXPERIENCE---------ARO-HOME--------------------------- */
.aro-experience__inner {
	display: flex;
	margin: 220px 0px 0px 0px;
}

.aro-experience__content {
	padding: 13px 0px 0px 0px;
	font-weight: 400;
	color: #24160B;
}

.aro-experience__title {
	font-size: 43px;
	line-height: 1.3;
}

.aro-experience__text {
	padding: 28px 0px 0px 0px;
	font-size: 18px;
	line-height: 1.7;
}

.aro-experience__link {
	padding: 47px 0px 0px 0px;
}

.aro-experience__button {
	font-size: 17px;
	line-height: 1.5;
	color: #24160B;
}

.aro-experience__line {
	border: 2px solid #24160B1F;
	width: 136px;
}

.aro-experience__image {
	padding: 0px 0px 0px 114px;
	border-radius: 16px;
}

/* --------------ARO-APP----------------------------------- */
.aro-app__inner {
	display: flex;
	margin: 100px 0px 0px 0px;
}

.aro-app__content {
	padding: 0px 0px 0px 104px;
	font-weight: 400;
	color: #24160B;
}

.aro-app__title {
	font-size: 43px;
	line-height: 1.3;
}

.aro-app__text {
	padding: 28px 0px 0px 0px;
	font-size: 18px;
	line-height: 1.7;
}

.aro-app__link {
	padding: 47px 0px 0px 0px;
}

.aro-app__button {
	font-size: 17px;
	line-height: 1.5;
	color: #24160B;
}

.aro-app__line {
	border: 2px solid #24160B1F;
	width: 136px;
}

.aro-app__image {
	padding: 50px 0px 0px 0px;
	border-radius: 16px;
}

/* ---------------GET-STARTED------------------------------------ */


/* ------------FOOTER------------------------------------ */
